{% extends "base_menu.html" %}


{% block nonav %}
<div class="nonav px-3 my-3 navbar rounded-3 shadow-sm">
    <div class="container-fluid">
        <p class="fs-4 ps-3 fw-bolder"></p> 
    </div>
</div>
{% endblock nonav %}


{% block header %}
<h4 class="p-3">
    <span class="text-muted">Module name:</span> {{ module.name }}
</h4>
{% endblock header %}


{% block content %}
<div class="container-fluid p-3 row">
    <div class="col-6">
        {% if phrases %}
        <h5 class="text-muted">Phrases in this module</h5>
        <ul>
            {% for phrase in phrases %}
            <li>{{ phrase.phrase }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h4 class="py-3">Add a new phrase</h4>
        {% load crispy_forms_tags %}
        <form action="" method="post" id="upload_form" enctype="multipart/form-data"
            class="p-2">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit" class="btn btn-lg btn-outline-success me-3">
            <input type="submit" value="Cancel" class="btn btn-lg btn-outline-danger"
                onclick="window.location.href='{% url 'tommy:manage_content' %}';return false;">
        </form>
    </div>
    <div class="col-6">
        {% if phrases %}
        <h4 class="text-muted pb-3">Enough phrases in this module?</h4>
        <h5 class="fs-5">Add translations to phrases in {{ module.name}} </h5>
        <p class="text-muted">Chooose a phrase</p>
        {% for phrase in phrases %}
        <a href="{% url 'tommy:add_translation' module.id phrase.id %}"
            class="btn btn-outline-dark m-1">{{ phrase.phrase }}</a>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}


{% block footer %}

{% endblock footer %}