{% extends "base_menu.html" %}
{% load humanize %}


{% block header %}
{% if user.is_staff %} 
<div class="container-fluid d-flex justify-content-between">
    <p class="fs-5 fw-bolder">Content Creator Page</p>
    <p class="text-end fs-5">Staff profile: {{ profile.name }}</p>
</div>
{% endif %}
{% endblock header %}


{% block content %} 
<div class="p-3 fs-4">
    <h5>Creator</h5>
</div>
<div class="container-fluid p-3 d-flex flex-wrap justify-content-evenly align-items-center">
    Wait for it
</div>
{% endblock content %}


{% block footer %}
<div class="container p-5">
    <p> </p>
</div>
{% endblock footer %}