{% extends "base_menu.html" %}


{% block header %}
{% if user.is_staff %} 
<div class="container-fluid d-flex justify-content-between">
    <p class="fs-5 fw-bolder">Content Creator Page</p>
    <p class="text-end fs-5">Staff profile: {{ profile.name }}</p>
</div>
{% endif %}
{% endblock header %}


{% block content %}
<div class="container-fluid p-3 d-flex flex-wrap justify-content-between">
    <h5 class="pb-2">Add modules</h5>
    <p class="w-100"><a href="{% url 'tommy:add_module' %}"
        class="btn btn-lg btn-outline-dark w-100">
        Add new modules</a></p>
</div>

<div class="container-fluid p-3 d-flex flex-wrap justify-content-betwen">
    <h5>Add phrases</h5>
    <form id="phrase_form" action="" method="get" class="input-group">
        <select id="modules" class="form-control" required>
            <option value="" disabled>Select a module</option>
            {% if modules %}{% for module in modules %}
            <option value="{{ module.id }}">{{ module.name }}</option>
            {% endfor %}{% endif %}
        </select>
        <button type="submit" class="btn btn-lg btn-outline-dark">Click</button>
    </form>
</div>

<div class="container-fluid p-3 d-flex flex-wrap justify-content-between">
    <h5>Add translations</h5>
    <form id="translation_form" action="" method="get" class="input-group">
        <select id="phrases" class="form-control">
            <option value="" disabled>Select a phrase</option>
            {% if phrases %}{% for phrase in phrases %}
            <option value="{{ phrase.id }}">{{ phrase.phrase }}</option>
            {% endfor %}{% endif %}
        </select>
        <button type="submit" class="btn btn-lg btn-outline-dark">Click</button>
    </form>
</div>
{% endblock content %}


{% block footer %}
<div class="container p-5">
    <p> </p>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {

        // Reassing id passed to URL based on dropdown selections
        let module_selector = document.getElementById('modules');
        module_selector.addEventListener('change', function() {
            let url = 'module/' + module_selector.value + '/add_phrase/';
            document.getElementById('phrase_form').action = url;
        });

        let phrase_selector = document.getElementById('phrases');
        phrase_selector.addEventListener('change', function() {
            let url = 'phrase/' + phrase_selector.value + '/add_translation/';
            document.getElementById('translation_form').action = url;
        });
    });
</script>
{% endblock footer %}