{% extends "base_menu.html" %}
{% load humanize %}


{% block header %}
{% if user.is_staff %} 
<div class="container-fluid d-flex justify-content-between">
    <p class="fs-5 fw-bolder">Content Creator Page</p>
    <p class="text-end fs-5">Staff profile: {{ profile.name }}</p>
</div>
{% endif %}
{% endblock header %}


{% block content %}
<div class="p-3 fs-4">
    <h5>Creator</h5>
</div>
<div class="container-fluid p-3 d-flex flex-wrap justify-content-evenly align-items-center">
    <p><a href="{% url 'tommy:add_module' %}"
        class="btn btn-lg btn-outline-dark">
        Create a new module</a></p>
</div>
<div class="container-fluid p-3 d-flex flex-wrap justify-content-evenly align-items-center">
    <form action="" method="get" class="input-group">
        <p><a href="{% url 'tommy:add_phrase' %}"
            class="btn btn-lg btn-outline-dark">
            Add new phrases to the module: </a></p>
        {% csrf_token %}
        <select id="modules">
            {% if modules %}{% for module in modules %}
            <option value="{{ module.id }}">{{ module.name }}</option>
            {% endfor %}{% endif %}
        </select>
    </form>
</div>
<div class="container-fluid p-3 d-flex flex-wrap justify-content-evenly align-items-center">
    <form action="" method="get" class="input-group">
        <p><a href="{% url 'tommy:add_translation' %}"
            class="btn btn-lg btn-outline-dark">
            Add new translations to the phrase:</a></p>
        {% csrf_token %}
        <select id="phrases">
            {% if phrases %}{% for phrase in phrases %}
            <option value="{{ phrase.id }}">{{ phrase.phrase }}</option>
            {% endfor %}{% endif %}
        </select>
    </form>
</div>

{% endblock content %}


{% block footer %}
<div class="container p-5">
    <p> </p>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {

        // Reassing id passed to URL based on dropdown selections
        let module_selector = document.getElementById('modules');
        module_selector.addEventListener('change', function() {
            let module_id = module_selector.value;
        });

        let phrase_selector = document.getElementById('phrases');
        phrase_selector.addEventListener('change', function() {
            let phrase_id = phrase_selector.value;
        });
    });
</script>
{% endblock footer %}