{% extends "base_bootstrap.html" %}
{% load humanize %}

{% block header %}
<div class="container">
    <p class="text-center pt-3 fs-2">
        {{ result }}
    </p>
</div>
{% endblock header %}


{% block content %}
    {% if not testing_phrase %}
    Error with feedback on testing phrase
    {% else %}
    <div class="container-fluid d-flex justify-content-between">
        <p class="fs-2 p-3 ">{{ testing_phrase.phrase }}</p>
        <p class="fs-2 p-3">{{ user_answer }}</p>
        <p class="text-end pe-3 fs-4">
            <span class="badge bg-success fw-normal px-3">
            XP {{ profile.xp|intcomma }}</span></p> 
    </div>

    {% endif %}
{% endblock content %}


{% block footer %}
    <div class="container-fluid d-flex justify-content-between">
    <p class="fs-3 p-3">All translations&nbsp;&nbsp;
        {% for translation in translations %}
        &raquo;&nbsp;&nbsp;{{ translation.translation }}&nbsp;
        {% endfor %}</p>
    {% if testing_view == 'tommy:learn' %}
        <p><a href="{% url testing_view module_id %}" autofocus
            class="btn btn-lg btn-primary mt-3">Next test question</a></p>
        </div>
    {% else %}
        <p><a href="{% url testing_view %}" autofocus
            class="btn btn-lg btn-primary mt-3">Next test question</a></p>
        </div>
    {% endif %}

{% endblock footer %}