{% extends "base_bootstrap.html" %}
{% load humanize %}

{% block nonav %}
<div class="nonav px-3 my-3 navbar rounded-3 shadow-sm">
    <div class="container-fluid">
        <p class="fs-4 ps-3 fw-bolder">{{ profile.name }}</p>
        <p class="text-end p-2 fs-4">
            <span class="badge bg-success px-3">
            XP {{ profile.xp|intcomma }}</span></p> 
    </div>
</div>
{% endblock nonav %}


{% block header %}
<div class="container-fluid d-flex justify-content-between">
    <p class="p-3 fs-3">
        {{ result }} 
    </p>
    <p class="text-success p-3 fs-3 fw-bold">
        {% if response_accuracy == True %}
        +5 XP
        {% endif %}
    </p>
</div>
{% endblock header %}


{% block content %}
<div class="row p-4 container-fluid d-flex justify content between">
    {% if not testing_phrase %}
    Error with feedback on testing phrase
    {% else %}
    
        <div class="ps-5 col-5 text-start">
            <p class="fs-3 lh-sm">
                <span class="fs-6 text-muted">Test phrase</span><br>
                {{ testing_phrase.phrase }}</p>
        </div>
        <div class="ps-5 col-7 text-start">
            <p class="fs-3 lh-sm">
                <span class="fs-6 text-muted">
                    {% if translations|length == 1 %}
                    Translation{% else %}
                    Translations{% endif %}</span><br>
                {% for translation in translations %}
                {{ translation.translation }}&nbsp;<br>
                {% endfor %}</p>
        </div>
    {% endif %}
</div>
{% endblock content %}


{% block footer %}
    <div class="px-5 container-fluid d-flex justify-content-between">
        <p class="fs-3 lh-sm text-dark text-start">
            <span class="fs-6 text-muted">Your answer</span><br>
             <span class="fw-bold">
            {% if feedback_html %}
               {{ feedback_html|safe }}
            {% else %}
                {% if response_accuracy == True %}
                    <span class="text-success fw-bold">{{ user_answer }}
                {% else %}
                    <span class="text-danger fw-bold">{{ user_answer }}
                {% endif %}
            {% endif %}
            </span></p>
    {% if testing_view == 'tommy:learn' %}
        <p><a href="{% url testing_view module_id %}" autofocus
            class="btn btn-lg btn-primary mt-3">Next test question</a></p>
        </div>
    {% else %}
        <p><a href="{% url testing_view %}" autofocus
            class="btn btn-lg btn-primary mt-3">Next test question</a></p>
        </div>
    {% endif %}

{% endblock footer %}