{% extends "base_menu.html" %}


{% block header %}{% endblock header %}


{% block content %}
<div class="container-fluid p-2">
    <div class="container">
        <div class="row pb-2">
            <div class="col-4 text-end fw-bold">Phrase</div>
            <div class="col-6 text-start fw-bold">Translations</div>
            <div class="col-2 text-end fw-bold">Strength</div>
        </div>
    </div>
    {% if not phrases %}
    No  phrases yet

    {% else %}
    <div class="container">
        {% for phrase in phrases %}
        
        <div class="row">
            <div class="col-4 text-end">{{ phrase.phrase }} </div>
            <div class="col-7 text-start">
                {% for translation in translations %}{% if translation.phrase == phrase %}
                &raquo;&nbsp;&nbsp;{{ translation.translation }}&nbsp;
                {% endif %}{% endfor %}</div>
            <div class="col-1 text-center">{% if phrase_strength_set %}
                {% for phrase_strength in phrase_strength_set %}
                {% if phrase_strength.phrase == phrase %}
                {% if learned_phrase_set %}
                {% for learned_phrase in learned_phrase_set %}
                {% if learned_phrase.phrase == phrase_strength.phrase %}
                {% if learned_phrase.learned == False %}
                {% comment %} What can I put here {% endcomment %}
                {% else %}
                {{ phrase_strength.strength }}
                {% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}{% endfor %}{% endif %}
                </div>
        </div>
        {% endfor %}
    </div>
</div>
    {% endif %}
{% endblock content %}


{% block footer %}{% endblock footer %}
