{% extends "base_menu.html" %}
{% load humanize %}


{% block header %}
    {% if profile %}    
    <div class="container-fluid d-flex justify-content-between">
        <p class="fs-4 fw-bolder">{{ profile.name }}</p>
        <div style="width:39%" class="pb-2">
            <label for="prog-bar">Course progress</label>
            <div class="progress" id="prog-bar" style="width: 100%; height: 25px;">
                <div class="progress-bar progress-bar-striped bg-danger fw-bold fs-6"
                    role="progressbar" style="width: {{ progress }}%;"
                    aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
                    {{ progress }}%</div>
        </div></div>
        <p class="text-end fs-4">
            <span class="badge bg-success fw-bold px-3">
                XP {{ profile.xp|intcomma }}</span></p>
    </div>
    {% endif %}
{% endblock header %}


{% block content %}
<section class="container-fluid d-flex justify-content-between">
    <form action="" muted="get" class="m-4 input-group">
        <input type="text" placeholder="Search phrases and translations" name="search"
        class="form-control"
        {% if search %} value="{{ search }}" {% endif %}>
        <button type="submit" class="btn btn-outline-dark">
            <i class="fa fa-search"></i></button>
        <a href="{% url 'tommy:glossary' %}" class="btn btn-outline-dark">
            <i class="fa fa-undo"></i></a>
    </form>
    {% comment %} <form action="" muted="get" class="m-4 input-group">
        <input type="text" placeholder="Search French phrases" name="search_phrases"
        class="form-control"
        {% if search_phrases %} value="{{ search_phrases }}" {% endif %}>
        <button type="submit" class="btn btn-outline-dark">
            <i class="fa fa-search"></i></button>
        <a href="{% url 'tommy:glossary' %}" class="btn btn-outline-dark">
            <i class="fa fa-undo"></i></a>
    </form>
    <form action="" muted="get" class="m-4 input-group">
        <input type="text" placeholder="Search English translations" name="search_translations"
        class="form-control"
        {% if search_translations %} value="{{ search_translations }}" {% endif %}>
        <button type="submit" class="btn btn-outline-dark">
            <i class="fa fa-search"></i></button>
        <a href="{% url 'tommy:glossary' %}" class="btn btn-outline-dark">
            <i class="fa fa-undo"></i></a>
    </form> {% endcomment %}
</section>

<section class="container-fluid p-2">
    <div class="container">
        <div class="row pb-2">
            <div class="col-4 text-end fw-bold">Phrase</div>
            <div class="col-5 text-start fw-bold">Translation</div>
            <div class="col-3 text-end fw-bold">Strength</div>
        </div>
    </div>
    
    <div class="container">
        {% if not translations and search_translations %}
        <div class="row justify-content-center p-5 fs-5">
            Your search found no translations for "{{ search_translations }}"
        </div>
        {% endif %}
        {% if not phrases and search_phrases %}
        <div class="row justify-content-center p-5 fs-5">
            Your search found no phrases for "{{ search_phrases }}"
        </div>
        {% else %}
        
        {% if phrase_data %}{% for phrase in phrase_data %}{% if phrase.language == "French" %}
        <div class="row">
            <div class="col-4 text-end">{{ phrase.phrase }} </div>
            <div class="col-5 text-start">
                {% for translation in phrase.translations %}
                    &raquo; {{ translation }} <br>
                {% endfor %}
            </div>
            <div class="col-3 text-end">
                {% if phrase.learned %}
                    {% if phrase_strength.strength > 90 %}Excellent
                    {% elif phrase_strength.strength > 80 %}Amazing
                    {% elif phrase_strength.strength > 60 %}Great
                    {% elif phrase_strength.strength > 40 %}Good
                    {% else %}Keep at it {% endif %}
                {% else %}
                    <a href="{% url 'tommy:learn' phrase.module_id %}"
                        class="text-decoration-none link-style">Learn in Module: {{ phrase.module }}</a>
                {% endif %}
            </div>
        </div>
        {% endif %}{% endfor %}{% endif %}   
        
        {% comment %} {% for phrase in phrases %}
        {% if phrase.language == "French" %}
        {% for translation in translations %}
        {% if translation.phrase == phrase %} 
        <div class="row">
            <div class="col-5 text-end">{{ phrase.phrase }} </div>
            <div class="col-5 text-start">
                &raquo;&nbsp;&nbsp;{{ translation.translation }}&nbsp;
                </div>
            <div class="col-2 text-end">{% if phrase_strength_set %}
                {% for phrase_strength in phrase_strength_set %}
                    {% if phrase_strength.phrase == phrase %}
                        {% if phrase_strength.learned %}
                            {% if phrase_strength.strength > 90 %}Excellent
                            {% elif phrase_strength.strength > 80 %}Amazing
                            {% elif phrase_strength.strength > 60 %}Great
                            {% elif phrase_strength.strength > 40 %}Good
                            {% else %}Keep at it {% endif %}
                        {% else %}
                            <a href="{% url 'tommy:learn' phrase.module.id %}"
                                class="text-decoration-none link-style">Learn</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}</div>
        </div>
        {% endif %}{% endfor %}{% endif %}{% endfor %} {% endcomment %}
    </div>
</section>
    {% endif %}
{% endblock content %}


{% block footer %}
<div class="container p-5">
    <p> </p>
</div>
{% endblock footer %}
