{% extends "base_menu.html" %}


{% block header %}{% endblock header %}


{% block content %}
    {% if not phrases %}
    No  phrases yet

    {% else %}
    <div class="container">
        {% for phrase in phrases %}
        <div class="row"><div class="col-4 text-end">{{ phrase.phrase }} </div>
            <div class="col text-center"> &#9679; </div>
            <div class="col-7 text-start">
                {% for translation in phrase.translations.all %}
                {{ translation }}
                {% endfor %}</div>
        </div>
        {% endfor %}
    </div>

    {% endif %}
{% endblock content %}


{% block footer %}{% endblock footer %}
