{% extends "base_menu.html" %}

{% block header %}
    {% if profile %}    
    <div class="container-fluid d-flex justify-content-between">
        <p>{{ profile.name }} ({{ user.email }})
        {% if user_lang == 'French' %}Level {% endif %}
        {% if user_lang == 'Anglais' %}niveau {% endif %}
        {{ profile.level }}</p>
        <p>XP {{ profile.xp }}</p>
    </div>
    {% endif %}
{% endblock header %}

{% block content %} 
    {% if user.is_authenticated and not profile %}
    Bienvenue | welcome, {{ user.username }}.<br>Click the button to complete your profile.
    <a href="{% url 'tommy:create_profile' %}"
        class="btn btn-lg btn-primary m-3">
        Complete profile &raquo;
    </a>

    {% elif not user.is_authenticated %}
    Log in or register<br>
    
    {% else %}
    {% if user_lang == 'French' %}
    <p>Learning: {{ profile.learning }}</p>
    {% endif %}<br>

    {% if user_lang == 'Anglais' %}
    <p>Formation: {{ profile.learning }}</p>
    {% endif %}<br>

    {% endif %}
{% endblock content %}

{% block footer %}{% endblock footer %}
