{% extends "base_menu.html" %}

{% block header %}
    {% if profile %}    
    <div class="container-fluid d-flex justify-content-between">
        <p>{{ profile.name }} ({{ profile.user }})</p>
        <p>XP {{ profile.xp }}
        {% if user_lang == 'French' %}Level {% endif %} {% if user_lang == 'Anglais' %}niveau {% endif %}
        {{ profile.level }}</p>
    </div>
    {% endif %}
{% endblock header %}

{% block content %} 
    {% if not profile %}
    Log in or register<br>
    {{ user }}
    {% else %}

    {% if user_lang == 'French' %}
    <p>Learning: {{ profile.learning }}</p>
    {% endif %}<br>

    {% if user_lang == 'Anglais' %}
    <p>Formation: {{ profile.learning }}</p>
    {% endif %}<br>

    {% endif %}
{% endblock content %}

{% block footer %}{% endblock footer %}