{% extends "base_bootstrap.html" %}


{% block header %}
{% if user_lang == 'French' %}
Translate the phrase from French to English
{% elif user_lang == 'Anglais' %}
Traduis la phrase anglais a francais
{% endif %}
{% endblock header %}


{% block content %}
    {% if not phrases %}
        {% if user_lang == 'French' %}
        No {{ user_lang }} phrases yet
        {% elif user_lang == 'Anglais' %}
        Pas encore de phrases {{ user_lang|lower }}
        {% endif %}

    {% else %}
    <div class="container">
        
        {{ phrases.0 }}
        
    </div>

    {% endif %}
{% endblock content %}


{% block footer %}{% endblock footer %}