{% extends "base_bootstrap.html" %}
{% load humanize %}

{% block nonav %}
<div class="nav p-2 my-3 navbar navbar-expand-sm navbar-light bg-light rounded-3 shadow-sm">
    <div class="container-fluid">
        <p> </p>
    </div>
</div>
{% endblock nonav %}


{% block header %}
<div class="container-fluid d-flex justify-content-between">
    <p class="text-start p-3 fs-2">
        {% if phrase.language == "French" %}
        Translate from French to English
        {% else %}
        Translate from English to French
        {% endif %}
    </p>
    <p class="text-end p-3 fs-4">
        <span class="badge bg-success px-3">
        XP {{ profile.xp|intcomma }}</span></p> 
</div>
{% endblock header %}


{% block content %}
<div class="container-fluid d-flex justify-content-between">  
    {% if not testing_phrase %}
    <p>Learn phrases before doing practice</p>
    {% else %}
        <p class="fs-2 p-4 ">{{ testing_phrase.phrase }}</p>
    {% endif %}
</div>
{% endblock content %}


{% block footer %}
    <div class="container p-5">
        {% load crispy_forms_tags %}
        <form action="" method="post" id="upload_form" enctype="multipart/form-data">
            {% if form.errors %}
                <p>There was an error. Please try again.</p>
            {% endif %}
            {% csrf_token %}
            {{ form|crispy }}
        </form>
    </div>

{% endblock footer %}