{% extends "base_bootstrap.html" %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}


    {% load crispy_forms_tags %}
    <form method="post" action="{% url 'login' %}" class="w-100">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="container-fluid d-flex justify-content-between">
            <input type="submit" class="btn btn-success" value="Login &raquo;" />
            <input type="hidden" class="next" value="{{ next }}" />
            {% comment %} <span class="pt-2">or</span> {% endcomment %}
            <a class="btn btn-primary" href="{% url 'accounts:register' %}">
                Register a new account &raquo;</a>
        </div>
    </form>
    
{% endblock content %}