{% extends "base_menu.html" %}


{% block header %}
{% if user.is_staff %} 
<div class="container-fluid d-flex justify-content-between">
    <p class="fs-5 fw-bolder">App Content Admin</p>
    <p class="text-end fs-5">Staff profile: {{ profile.name }}</p>
</div>
{% endif %}
{% endblock header %}


{% block content %}
<div class="container-fluid">
    {% if message %}
        <div class="row p-3">
            <h2 class="text-danger">There was an error</h2>
            <p class="fs-4">{{ message }}</p>
            {% if details %}
                <p class="fs-5"><strong>Error details: </strong>{{ details }}</p>
            {% endif %}
        </div>
    {% else %}
        <div class="row p-3">
            <div class="col-6">
                <h5>Test CSV data for mass content update</h5>
                <p class="w-100 text-danger fw-bolder">
                    Warning: This tool edits content en masse.
                    These steps may corrupt the database if not done correctly.
                    Take all precautions to review the CSV data before submitting
                    the update.</p>
            </div>
            <div class="col-6">
                <h5>Run test to check for CSV errors</h5>
                {% load crispy_forms_tags %}
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ test_form|crispy }}
                    <input type="submit" value="Submit"
                        class="btn btn-outline-success m-2 text-dark">
                    <input type="submit" value="Cancel &nbsp;&raquo;&nbsp; return to menu"
                        class="btn btn-outline-danger m-2 text-dark"
                        onclick="window.location.href='{% url 'staff:manage_content' %}';return false;">
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}


{% block footer %}
<div class="container p-5">
    <p> </p>
</div>

{% endblock footer %}